$primary: #CA9E67;
$bg: #3C3C3B;
@import "./node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

* {
    font-family: 'Jura', sans-serif;
    background: #3C3C3B;
    position: relative;
}

.container {
    transform: translateZ(0);
}

.main {
    margin-top: 40vh;
}

//Hover Animation
.zoom {
    transition: transform .2s;
}

a {
    text-decoration: none;
}

.animation {
    font-size: 15px;
    top: -55px;
}

.animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #CA9E67;
    transform-origin: bottom middle;
    transition: transform 0.45s ease-out;
  }
  
  .animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom middle;
  }

  //Base Styling
  .logo {
    width: 90%;
    margin: auto;
  }

  .svg {
    margin-top: 3px;
    width: 20px;
}

@media screen and (min-width: 360px) and (max-width: 575px) {
    .container {
        width: 90%;
    }
    .animation {
        font-size: 20px;
        top: -70px;
    }
    .svg {
        margin-top: 3px;
        width: 20px;
    }
}

@media screen and (min-width: 575px) {
    .container {
        width: 90%;
    }
    .animation {
        font-size: 25px;
        top: -40px;
    }
    .svg {
        margin-top: 3px;
        width: 25px;
    }
}

@media screen and (min-width: 992px) {
    .animation {
        font-size: 30px;
        top: -40px;
    }
    .svg {
        margin-top: 3px;
        width: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        width: 55%;
        margin: auto;
      }
    .animation {
        font-size: 25px;
        top: -40px;
    }
    .svg {
        margin-top: 3px;
        width: 25px;
    }
}

@media screen and (min-width: 1400px) {
    .animation {
        font-size: 35px;
        top: -40px;
    }
    .svg {
        margin-top: 3px;
        width: 35px;
    }
}